@font-face {
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  src: url('../fonts/roboto-thin.ttf');
}

@font-face {
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  src: url('../fonts/roboto-regular.ttf');
}

@font-face {
  font-weight: 200;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
  src: url('../fonts/roboto-light-italic.ttf');
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}
